.user-msg-section {
  position: fixed;
  right: 70%;
  top: 15%;

  @media (max-width: 700px) {
    right: 13%;
    top: 25%;
  }

  .user-msg {
    height: 285px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffc9;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;

    .user-msg-img {
      width: 82px;
      margin-bottom: 15px;
    }

    .user-msg-txt {
      font-size: 18px;
    }
  }
}
